.Hero-2{
    width: 950px;
    height: 423px;
    background-color: black;
}
.Hero-2 h1{
    font-size: 128px;
    font-weight: 800;
    text-align: center;
    color: #616E74;
}
.Hero-2-all{
    display: flex;
    padding: 0px 42px;
}
.Hero-2-Img img{
   margin-top: -70px;
}
.Hero-2-Text h3{
    color: #616E74;
    font-weight: 500;
    font-size: 16px;
}
.Hero-2-Text h2{
    font-weight: 700;
    font-size: 38px;
    color: #F6F6F7;
}
.Hero-2-Text button{
    width: 125px;
    height: 38px;
    background: #6C3EB8;
    border-radius: 6px;
    color: #F6F6F7;
    border: none;
    margin-top: 18px;
}
